.vscode/
pnpm-lock.yaml
frontend/pnpm-lock.yaml
node_modules/
package-lock.json
docs/sql/

apps/mobile/.expo
apps/mobile/.expo-shared
apps/mobile/android/
apps/mobile/ios/
apps/mobile/dist/
apps/mobile/web-build/
apps/mobile/.env
apps/mobile/.env.*

.next/trace
bun.lock